.aboutme {
  /*background-color: #787d84ea;*/

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  height: 400px;
  width: 400px;
  border: 0px solid;
  border-radius: 0px;
  /*border-color: rgba(190, 148, 229, 0.167);*/
}
.h1 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: x-large;
  font-style: normal;
  font-weight: 100;
  color: black;
}
.h2,
.p {
  color: black;
}
